<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="trait_style.css">
    <title>traitement de mandat</title>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

  </head>
  <body class="p-3 m-0 border-0 bd-example m-0 border-0">
<!-- barre de navigation -->
    {% include 'navbar.html' %}
    <br>
<!-- fin barre de navigation -->
{% include 'le hader d\'actualité' %}
<!-- -->


<div class="container">
  <h2><strong>Les étapes de traitement d'un mandat</strong></h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="images/payment-method_4393461.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">étape 1 :</h5>
          <p class="card-text">This is a longer card Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ullam non exercitationem expedita, perferendis omnis incidunt? with supporting text below as a natural
              lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="images/faq_5335996.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">étape 2 :</h5>
          <p class="card-text">TThis is a longer card Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ullam non exercitationem expedita, perferendis omnis incidunt? with supporting text below as a natural
              lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="images/predictive-chart_4149724.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">étape 3 :</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-80">
        <img src="images/teamwork_14704003.png" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">étape 4</h5>
          <p class="card-text">This is a longer card Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ullam non exercitationem expedita, perferendis omnis incidunt? with supporting text below as a natural
              lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</div>

    <!-- Example Code End -->
      
<!-- fin du corps du programme -->
<!-- scrpts js -->

<!-- pied de page -->
{% include 'footer.html' %}
<!-- fin pied de page -->
  </body>
</html>