body {
            font-family: Arial;
            padding: 20px;
        }

        h2 {
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .question-form {
            background-color: #f5ecd3;
            padding: 20px;
            max-width: 600px;
            margin: auto;
            border-radius: 8px;
            border: 1px solid #ccc;
        }

        input, textarea, select {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
        }

        button {
            margin-top: 15px;
            padding: 10px 20px;
            background-color: #184aee;
            color: white;
            border: none;
            border-radius: 5px;
        }

        button:hover {
            background-color: #0056b3;
        }
